#app {
	font-size: 1rem;
}

.home {
	height: 90%;
}

.explore-page {
	height: 90%;
}

.body {
	background-color: #ebebeb;
	// background-image: linear-gradient(
	// 	to bottom,
	// 	#022c3c,
	// 	#09364b,
	// 	#14415b,
	// 	#224b6c,
	// 	#31557c,
	// 	#4a648b,
	// 	#61739b,
	// 	#7883aa,
	// 	#999ebc,
	// 	#b9b9ce,
	// 	#d7d7e1,
	// 	#f5f5f5
	// );
}
