header.main-header {
	width: 100%;

	background-color: $clr6;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f5f5f5' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	color: $clr1;
	font-family: Halant, sans-serif;
	font-size: 1.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 5px;
	position: fixed;
	top: 0;
	z-index: 1;
	transition: 0.3s;

	&.transparent {
		background-color: transparent;
		border-bottom: unset;
		background-image: unset;
	}
}

.logo {
	width: 3rem;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.nav {
	display: flex;
}

a {
	color: $clr1;
	transition: 0.3s;

	.nav-user-img{
		width: 25px;
		height: 25px;
		border-radius: 50%;
		transform: translateY(10%);
	}

	&.router-link-exact-active{
		box-shadow: inset 0px -2px 0px 0px $clr1;
		cursor: pointer;
		color: $clr3;
	  }
}

