.vol-details {
	display: flex;
	flex-direction: column;
	width: 60%;
	gap: 0.5rem;
}

.details-header >*{
	margin-bottom: 1rem;
}

.details-header {
	background-color: $clr2;
	border-radius: 1rem;

	margin-bottom: 0.5rem;
	padding: 1rem;

	h2 {
		display: flex;
		justify-content: space-between;

		button {
			border: none;
			background-color: transparent;
			height: 2rem;
			&:hover {
				border-radius: 5px;
				background-color: $clr5;
			}

			@include for-narrow-layout {
			}
			@include for-normal-layout {
				height: 3rem;
				width: 3rem;
			}
		}
	}
}

.details-tag {
	background-color: $clr6;
	color: whitesmoke;

	font-style: italic;
	font-size: 0.8rem;

	text-align: center;

	padding: 0.2rem;
	margin: 0.2rem;

	//tbd if to keep
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}


.more-details {
	padding: 1rem;
	border-radius: 10px;

	background-color: $clr2;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	line-height: 1.5rem;
	h3 {
		display: flex;
		justify-content: space-between;
		.toggleMore {
			cursor: pointer;
			width: 3%;
		}
	}
	h4 {
		font-weight: unset;
	}

	p {
		padding-top: 1rem;
		// font-weight: bold;
		// text-decoration: underline;
	}
}

.req-skill {
	cursor: pointer;
	background-color: lightgray;
	font-style: italic;
	border-radius: 1px;
	text-align: center;
	padding: 0.2rem;
	margin: 0.2rem;

	font-weight: bold;
	font-size: 0.8rem;
	&:hover {
		text-decoration: underline;
	}
}

.details-location {
	color: $clr4;
	font-style: italic;
	font-weight: bold;
	cursor: pointer;
}

.img-gallery {
	display: grid;
	gap: 1rem;
	// grid-template-columns: 2fr 1fr 1fr;
	// grid-template-rows: 1fr 1fr;

	@include for-narrow-layout {
		grid-template-columns: 1fr 1fr;
		// grid-template-rows: 1fr 1fr;
	}
	@include for-normal-layout {
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	@include for-wide-layout {
	}
	@include for-extra-wide-layout {
	}

	& > :first-child {
		border-radius: 10px;
		height: 100%;
		margin-bottom: 5px;
		// @include aspect-ratio(1, 1);
		transition: opacity 0.3s;
		border-radius: 0.5rem;

		grid-row: 1/-1;
		grid-column: 1/2;
	}

	.details-img {
		border-radius: 10px;
		height: 100%;
		width: 100%;
		margin-bottom: 5px;
		// @include aspect-ratio(1, 1);
		cursor: default;
		transition: opacity 0.3s;
		border-radius: 0.5rem;

		object-fit: cover;
	}
}
