$green: #05668d;
$gray: whitesmoke;


.vol-details {
	position: relative;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: repeat(7, 150px);
}

.details-header {
	background-color: whitesmoke;
	margin-bottom: 5px;
}
.details-img {
	object-fit: cover;
}
.details-sidebar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 3px;
	text-align: center;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 1rem;
	position: fixed;
	top: 7%;
	right: 0;
}

.sidebar-users{
	background-color: $green ;
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	padding: 5px;

	p{
		background-color: whitesmoke;
		border-radius: 50%;
		padding: 5px;
		margin-inline-end: 5px;
	}

}

.more-details {
	background-color: whitesmoke;
	border-bottom: 1px solid slategrey;
}

.details-reviews {
	padding: 5px;
	background-color: whitesmoke;
	button{
		margin-bottom: 10px;
	}
}



* {
	font-family: 'Roboto', sans-serif;
}
.btn-container {
	width: 300px;
	height: 40px;
	text-align: center;
	margin-bottom: 15px;
}
.details-btn {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius: 40px;
	background: #fff;
	border: 2px solid $green;
	color: $green;
	letter-spacing: 1px;
	text-shadow: 0;

	font: {
		size: 12px;
		weight: bold;
	}

	cursor: pointer;
	transition: all 0.25s ease;

	&:hover {
		color: $gray;
		background: $green;
	}
	&:active {
		letter-spacing: 2px;
	}

	&:after {
		content: 'Click to Volunteer';
	}
}

.onclick {
	width: 40px;
	border-color: $green;
	border-width: 3px;
	font-size: 0;
	border-left-color: $gray;
	animation: rotating 2s 0.25s linear infinite;

	&:after {
		content: '';
	}
	&:hover {
		color: $gray;
		background: $green;
	}
}

.validate {
	font-size: 13px;
	color: white;
	background: $green;
	&:after {
		font-family: 'FontAwesome';
		content: '\f00c';
	}
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
