.details-reviews {
	border-radius: 10px;
	padding: 1rem;
	background-color: $clr2;
	grid-row: 7/8;

	input {
		border: none;
		margin-block-start: 1rem;
	}

	label {
		width: 70%;
	}

	textarea {
		border: 1px solid $clr6;
		// width: 500px;
		width: 100%;

		outline: none;
		resize: none;
		font-family: NunitoSans, sans-serif;
	}

	button {
		margin-bottom: 10px;
		border: 2px solid $clr6;
		color: $clr6;
		background-color: white;
		border-radius: 15px;
		padding: 5px;
		width: 150px;
		max-height: 30px;
		font-weight: bold;
		&:hover {
			background-color: $clr6;
			color: white;
			border: 2px solid white;
		}
	}

	ul {
		padding: 0;
		li {
			display: flex;
			gap: 1rem;
			.btns-control {
				align-self: flex-start;
			}
		}
		.reviews-btn {
			background-color: unset;
			width: unset;
			padding: unset;
			margin: 0 0.5rem;
			border: unset;
			border-radius: unset;
			&:hover {
				color: $clr6;
				border: 2px solid white;
				text-decoration: underline;
			}
		}
	}
}

.review-header {
	display: flex;
	justify-content: space-between;
}

.review-user {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	border-radius: 4px;
	padding: 1px;
}
