.details-reviews {
	border-radius: 10px;
	padding: 5px;
	background-color: #f8f8ff;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d3d3d3' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	// border: 1px solid lightgray;
	// box-shadow: 0px 0px 1.5px 0px #000000;
	// height: 100%;
	grid-row: 7/8;

	button {
		margin-bottom: 10px;
		border: 2px solid $clr6;
		background-color: white;
		border-radius: 15px;
		padding: 5px;
		width: 150px;
		color: $clr6;
		font-weight: bold;
		&:hover {
			background-color: $clr6;
			color: white;
			border: 2px solid white;
		}
	}
}

.review-header {
	display: flex;
	justify-content: space-between;
}
