.details-reviews {
	border-radius: 10px;
	padding: 1rem;
	background-color: $clr2;
	// border: 1px solid lightgray;
	// box-shadow: 0px 0px 1.5px 0px #000000;
	// height: 100%;
	grid-row: 7/8;

	.add-review {
		display: flex;
		justify-content: space-between;
	}

	input {
		border: none;
		margin-block-start: 1rem;
	}

	label {
		width: 70%;
	}

	textarea {
		border: 1px solid $clr6;
		// width: 500px;
		width: 100%;

		outline: none;
		resize: none;
		font-family: NunitoSans, sans-serif;
	}

	button {
		margin-bottom: 10px;
		border: 2px solid $clr6;
		color: $clr6;
		background-color: white;
		border-radius: 15px;
		padding: 5px;
		width: 150px;
		max-height: 30px;
		font-weight: bold;
		&:hover {
			background-color: $clr6;
			color: white;
			border: 2px solid white;
		}
	}

	ul {
		padding: 0;
	}
}

.review-header {
	display: flex;
	justify-content: space-between;
}

.review-user {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	border-radius: 4px;
	padding: 1px;
}
