.sidebar-container {
	display: flex;
	height: 100%;
	flex-direction: column;
	width: 38%;
	position: absolute;
	right: 0;
}

.details-sidebar {
	background-color: $clr2;
	box-shadow: 0px 1px 5px 0px $clr6;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-self: auto;
	width: 100%;

	text-align: center;
	padding: 0.5rem;

	border: 1px solid gray;
	border-radius: 1rem;

	position: sticky;
	top: 55px;
	right: 0;

	h4 {
		// display: none;
		@include for-narrow-layout {
			// display: none;
		}
		@include for-normal-layout {
			// display: unset;
		}
	}
}

.title-sidebar {
	width: 100%;
	border-bottom: 1px solid $clr6;
	border-top: 1px solid $clr6;
	color: $clr6;
	font-family: Halant;
}

// TODO: action bar to turn into slide in navbar

.sidebar-users {
	background-color: $clr1;
	border: 1px solid lightgray;
	border-radius: 0.5rem;

	// flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	box-shadow: 0px 0px 2px 0px #000000;
	padding: 0.3rem;

	// display: flex;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: row;
	height: auto;

	// display: none;

	@include for-narrow-layout {
		// display: none;
	}
	@include for-normal-layout {
		width: 100%;
		display: flex;
	}
	@include for-wide-layout {
		width: 100%;
		// display: block;
	}
	@include for-extra-wide-layout {
		width: 100%;
		// display: block;
	}

	.img-profile {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		padding: 0.1rem;
		object-fit: cover;
		margin-inline-end: 0.1rem;
		cursor: pointer;
		&:hover {
			opacity: 50%;
			transition: 0.3s;
		}
	}
}

.btn-container {
	// width: 70%;
	height: 100px;
	text-align: center;
	margin-bottom: 15px;

	@include for-narrow-layout {
		width: 100%;
	}
	@include for-normal-layout {
		width: 70%;
	}
	@include for-wide-layout {
		width: 70%;
	}
	@include for-extra-wide-layout {
		width: 70%;
	}
}
.details-btn {
	outline: none;
	height: 40px;
	width: 100%;
	text-align: center;
	border-radius: 40px;
	background: $clr1;
	border: 2px solid $clr6;
	color: $clr6;
	letter-spacing: 1px;
	text-shadow: 0;
	margin: 5px;
	@include for-narrow-layout {
		width: 100%;
	}
	@include for-normal-layout {
		width: 80%;
	}
	@include for-wide-layout {
		width: 80%;
	}
	@include for-extra-wide-layout {
		width: 80%;
	}

	font: {
		size: 0.8rem;
		weight: bold;
	}

	cursor: pointer;
	transition: all 0.25s ease;

	&:hover {
		color: $clr2;
		background-color: $clr6;
	}
	&:active {
		letter-spacing: 2px;
	}
}

.focus {
	font-size: 1rem;
	color: $clr6;
	background-color: $clr4;
	&:hover {
		color: $clr2;
		background-color: $clr6;
	}
}

.onclick {
	width: 40px;
	border-color: $clr6;
	border-width: 3px;
	font-size: 0;
	border-left-color: $clr2;
	animation: rotating 2s 0.25s linear infinite;

	&:after {
		content: '';
	}
	&:hover {
		color: $clr2;
		background: $clr6;
	}
}
