.vol-sidebar-container {
  position: relative;
  grid-row: 2/3;

  @include for-normal-layout {
    //720px
    position: sticky;
    grid-row: unset;
  }
}
.sticky-sidebar-container {
  position: sticky;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include for-normal-layout {
    //720px
    position: sticky;
    gap: 1.5rem;
  }
  @include for-wide-layout {
    //720px
    position: sticky;
    gap: 2rem;
  }
}

.vol-details-sidebar {
  background-color: $clr2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: auto;
  width: 100%;
  gap: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;

  .vol-sidebar-map {
    margin: 0.5rem 0;
    width: 100%;
    border-radius: 10px;

    @include for-narrow-layout {
      //400px
      max-height: 200px;
    }
    @include for-normal-layout {
      //720px
      margin: 0.5rem 0;
      width: 100%;
      max-height: 200px;
      border-radius: 10px;
    }
    @include for-wide-layout {
      //1060px
      min-height: 200px;
    }

    // .vue-map {
    // 	border-radius: 5px;
    // }
  }

  @include for-normal-layout {
    //720px
    box-shadow: 0px 1px 5px 0px $clr6;
    position: sticky;
  }

  .vol-sidebar-btn-container {
    display: flex;
    width: 100%;
  }
}

.share-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;

  justify-content: center;
  gap: 1rem;

  .share-btn {
    max-width: 30px;
  }

  .facebook {
    &:hover {
      fill: #0e8ff2;
      transition: 0.2s;
      path {
        fill: #0e8ff2;
      }
    }
  }
  .twitter {
    &:hover {
      fill: #1bb1e4;
      transition: 0.2s;
      path {
        fill: #1bb1e4;
      }
    }
  }
  .whataspp {
    &:hover {
      fill: #1ad03f;
      transition: 0.2s;
      path {
        fill: #1ad03f;
      }
    }
  }
}

.vol-sidebar-users {
  background-color: $clr1;
  border: 1px solid lightgray;
  border-radius: 10px;

  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  gap: 0.5rem 0.3rem;
  justify-content: center;

  .vol-users-header {
    grid-row: 1/2;
    grid-column: 1/-1;
    font-size: 1.1rem;

    .el-progress.is-success {
      margin: 10px;

      .el-progress-bar__inner {
        background-color: $clr4;
      }
    }
  }

  .vol-img-profile {
    @include aspect-ratio(1, 1);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    // padding: 0.1rem;
    // margin-inline-end: 0.1rem;
    &:hover {
      opacity: 0.5;
      transition: 0.3s;
    }
  }
}

// .btn-container {
// 	// width: 70%;
// 	height: 100px;
// 	text-align: center;
// 	margin-bottom: 15px;

.volunteer-btn {
  text-align: center;
  // TBD TEAM
  border-radius: 0.2rem;
  // border-radius: 10px;
  border: none;
  letter-spacing: 1px;
  // margin-right: 5px;
  font-weight: bold;
  // padding: 1.3rem 0;

  transition: all 0.3s ease;

  &:hover {
    color: $clr2;
    background-color: $clr6;
  }

  font-size: 1.5rem;
  color: $clr6;
  background-color: $clr4;
  width: 100%;
  padding: 0.5rem 0;
  // max-height: 80%;
  &:hover {
    color: $clr2;
    background-color: $clr6;
  }
}
