.short-list {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 20px, 1fr;
  margin-top: 0;
  > * {
    margin-bottom: 1rem;
  }
}



    

.short-header {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
  margin: 0 1rem 1rem 1rem;

  p {
    border-radius: 1rem;
    padding: 0.5rem 0;
    transition: background-color 1s;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      font-weight: bold;
      background-color: $clr3;
      color: $clr2;
    }
  }
}

.cards-cont {
   gap: 48px 26px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
  grid-row: 2/3;
  grid-column: 1/3;
  flex-wrap: wrap;
  

  @include for-narrow-layout {
    flex-wrap: wrap;
  }
  @include for-normal-layout {
    flex-wrap: wrap;
    gap: 1rem;
  }
  @include for-wide-layout {
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  @include for-extra-wide-layout {
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
