.card-preview {
  .badge-text{
    font-size: smaller;
    position: absolute;
    transform: rotate(32deg);
    background-color: #ff764b;
    padding: 27px 59px 8px;
    top: -12px;
    right: -61px;
    color: #f5f5f5;
    font-family: NunitoSans, sans-serif;
    box-shadow: inset 0px 0px 20px 0px black;
 }


  position: relative;
  cursor: pointer;
  background-color: $clr2;
  padding: 10px;
  flex-wrap: wrap;
  overflow: hidden;

  width: 350px;
  height: 370px;


  .card-title {
    @include text-overflow;
    margin-bottom: 0.3em;
  }
  font-family: Nunito800;

  // TBD Asi
  .card-description {
    @include flex-overflow(2);
  }
  img {
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
  }

  .rev-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    background-color: $clr3;
    border-radius: 10px;
    color: $clr2;
    > * {
      display: flex;
      gap: 5px;
    }
    img {
      width: 1rem;
      height: 100%;
      transform: translateY(20%);
      @include for-normal-layout {
        transform: translateY(0%);
      }
    }
  }
  .skills {
    display: flex;
    font-weight: bold;
    overflow: hidden;

    span {
      font-weight: normal;
      margin-inline-start: 5px;
    }
  }
  span {
    font-size: large;
    @include for-normal-layout {
      font-size: small;
    }
  }
}
