.card-preview {
  .badge {
    position: absolute;
    border-radius: 2px;
    transform: skew(0deg, 10deg);
    background-color: $clr6;
    width: 4rem;
    height: 1.3rem;
    top: 0.5rem;
    right: 0;
  }
  .badge-text {
    font-size: smaller;
    position: absolute;
    transform: skew(0deg, 10deg);
    background-color: red;
    top: 0.5rem;
    right: 0;
    color: $clr2;
    font-family: NunitoSans, sans-serif;
    z-index: 1;
  }

  position: relative;
  cursor: pointer;
  background-color: $clr2;
  padding: 10px;
  width: 350px;
  height: 370px;
  // border: 1px solid lightgray;
  flex-wrap: wrap;

  @include for-narrow-layout {
    max-width: 195px;
    max-height: 370px;
    // border: 1px solid lightgray;
  }
  @include for-normal-layout {
    max-width: 300px;
    max-height: 345px;
    // border: 1px solid lightgray;
  }
  @include for-wide-layout {
    // border: 1px solid lightgray;
    max-width: 370px;
    max-height: 350px;
  }

  .card-title {
    @include text-overflow;
    margin-bottom: 0.3em;
  }

  // TBD Asi
  .card-description {
    @include flex-overflow(2);
  }
  img {
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
  }

  .rev-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    background-color: $clr5;
    border-radius: 10px;
    color: $clr2;
    > * {
      display: flex;
      gap: 5px;
    }
    img {
      width: 1rem;
      height: 100%;
      transform: translateY(20%);
      @include for-normal-layout {
        transform: translateY(0%);
      }
    }
  }
  .skills {
    display: flex;
    font-weight: bold;
    overflow: hidden;

    span {
      font-weight: normal;
      margin-inline-start: 5px;
    }
  }
  span {
    font-size: large;
    @include for-normal-layout {
      font-size: small;
    }
  }
}
