.user-vol-list {
  .cards-cont {
    gap: 48px 26px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    .card {
      width: auto;
      .card-title {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        button {
          border: none;
          background-color: transparent;
          line-height: 10px;
          border-radius: 10px;
          transition: all 0.3s;
          &:hover {
            background-color: $clr4;
          }
        }
      }
    }
  }
}
