.user-vol-list {
  .cards-cont {
    justify-content: flex-start;
    flex-flow: wrap;
    .card {
      max-width: 300px;
      .card-title {
        display: flex;
        justify-content: space-between;
        button {
          border: none;
          height: 1rem;
          background-color: none;
        }
      }
    }
  }
}
