.addVol-page {
	margin-top: unset;
	padding-top: 60px;
	min-height: 95vh;
}

.form-container {
	// background-color: yellow;
	background-color: $clr1;
	width: 500px;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 1rem;
	border: 1px solid lightgray;

	display: flex;
	h3 {
		font-family: Halant;
		width: 35%;
	}
}

.addVol-form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	width: 100%;

	label {
		font-size: 0.8rem;
		padding-bottom: 5px;
	}

	input {
		border: none;
		background-color: $clr1;
		outline: none;
		font-size: 0.8rem;
		padding-top: 5px;
	}
	:focus {
		border: none;
	}

	select {
		border: none;
		background-color: $clr1;
		font-size: 0.8rem;
	}

	.loc-label {
		display: flex;
		flex-direction: column;
	}
}

.submit-btn {
	width: 50%;
}

.switch-button {
	background: rgba(255, 255, 255, 0.56);
	border-radius: 10px;
	overflow: hidden;
	width: 240px;
	text-align: center;
	font-size: 0.8rem;
	letter-spacing: 1px;
	color: black;
	position: relative;
	padding-right: 120px;
	position: relative;

	&:before {
		content: 'On-Site';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		pointer-events: none;
	}

	&-checkbox {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;

		&:checked + .switch-button-label:before {
			transform: translateX(120px);
			transition: transform 300ms linear;
		}

		& + .switch-button-label {
			position: relative;
			padding: 0.3rem 0;
			display: block;
			user-select: none;
			pointer-events: none;

			&:before {
				content: '';
				background: $clr3;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 10px;
				transform: translateX(0);
				transition: transform 300ms;
			}

			.switch-button-label-span {
				position: relative;
			}
		}
	}
}
