.explore-page {
	// margin-top: 70px;
	// padding-top: 25px;
	padding-top: 2%;
	// min-height: 90vh;
	min-height: 90vh;
}

.loading-container {
	img {
		width: 15%;
		position: absolute;
		margin: auto auto;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	// top: 30vh;
	// right: 70vh;
}
