.explore-page {
  padding-top: 60px;
  margin-top: unset;
  min-height: 95vh;
}

.loading-container {
  img {
    width: 15%;
    position: absolute;
    margin: auto auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
