.user-profile {
  .user-details {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .badge-text {
      font-size: smaller;
      position: absolute;
      transform: rotate(32deg);
      background-color: #facc6b;
      background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);
      padding: 27px 59px 8px;
      top: 0;
      right: -55px;
      color: black;
      box-shadow: inset 5px 0px 10px -3px rgb(49, 48, 48);
    }
  }
}

.vol-det.user-det {
  @include for-narrow-layout {
    grid-template-columns: auto;
  }
  .details-header {
    display: block;
  }
}

.empty-state {
  .empty-state-title {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid lightgray;
  }
  .short-header {
    margin: 0 0 1rem 0;
  }
}
.user-profile-img-cont {
  img {
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 50%;
  }
}

.vol-det {
  .explore-link {
    box-shadow: none;
    cursor: pointer;
    color: $clr5;
    &:hover {
      text-decoration: underline;
    }
  }
}
