.user-profile-img-cont {
  img {
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 50%;
  }
}

.vol-det {
  .explore-link {
    box-shadow: none;
    cursor: pointer;
    color: $clr5;
    &:hover {
      text-decoration: underline;
    }
  }
}
