* {
	box-sizing: border-box;
}

html {
	font-family: Montserrat, sans-serif;
}

body {
	margin: 0;
	background-color: beige;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 1rem;
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}
