//TITLES
@font-face {
  font-family: Halant;
  src: url(~@/assets/fonts/Halant-SemiBold.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(~@/assets/fonts/Lato-Bold.ttf);
}
//MAIN FONT
@font-face {
  font-family: NunitoSans;
  src: url(~@/assets/fonts/NunitoSans-Regular.ttf);
}
//CARD TITLE FONT
@font-face {
  font-family: Nunito900;
  src: url(~@/assets/fonts/NunitoSans-Black.ttf);
}
@font-face {
  font-family: Nunito700;
  src: url(~@/assets/fonts/NunitoSans-Bold.ttf);
}
@font-face {
  font-family: Nunito800;
  src: url(~@/assets/fonts/NunitoSans-ExtraBold.ttf);
}
