//TITLES
@font-face {
  font-family: Halant;
  src: url(~@/assets/fonts/Halant-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(~@/assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(~@/assets/fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: Oswald-bold;
  src: url(~@/assets/fonts/Oswald-Bold.ttf);
}
//MAIN FONT
@font-face {
  font-family: NunitoSans;
  src: url(~@/assets/fonts/NunitoSans-Regular.ttf);
}
//CARD TITLE FONT
@font-face {
  font-family: Nunito900;
  src: url(~@/assets/fonts/NunitoSans-Black.ttf);
}
@font-face {
  font-family: Nunito700;
  src: url(~@/assets/fonts/NunitoSans-Bold.ttf);
}
@font-face {
  font-family: Nunito800;
  src: url(~@/assets/fonts/NunitoSans-ExtraBold.ttf);
}
