// COLOR PALETTE
$clr1: #f8f8ff; //background
$clr2: #f5f5f5; //whitesmoke
$clr3: #02c39a;
$clr4: #00a896;
$clr5: #149b72;
$clr6: #022c3c;

// LAYOUT BREAKPOINTS
$break-narrow: 400px;
$break-normal: 720px;
$break-wide: 1060px;
$break-extra-wide: 1400px;
