.explore-filter {
	background-color: $clr1;
	max-width: 70%;
	flex-direction: column;
	gap: 10px;

	margin: 0 auto;
	margin-bottom: 1rem;
	padding: 0.5rem;

	font-family: Halant, sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;

	border: 1px solid lightgray;
	border-radius: 1rem;

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	box-shadow: -2px 1px 20px -11px rgba(0, 0, 0, 0.9);
	transition: box-shadow 0.4s;
	

	@include for-narrow-layout {
		max-width: 50%;
		flex-direction: column;
		gap: 10px;
	  }
	  @include for-normal-layout {
		  max-width: 60%;
		  flex-wrap: wrap;
		  flex-direction: row;
	  }
	  @include for-wide-layout {
		max-width: 70%;
		flex-wrap: wrap;
	}
	@include for-extra-wide-layout {
		  max-width: 60%;
	  }

	&:hover {
		box-shadow: 0px 0px 25px -11px rgba(0, 0, 0, 0.9);
		transition: box-shadow 0.4s;
	}

	input {
		border: none;
		border-bottom: 0.5px solid lightgray;
		background-color: $clr1;
		transition: width 0.3s;
		outline: none;
	}
	select {
		border: 0.5px solid lightgray;
		border-radius: 1rem;
		font-family: NunitoSans;
		outline: none;
	}
}

.online,
.onsite {
	label {
		display: inline-block;
	}
	img {
		height: 2.5rem;
		width: unset;
		cursor: pointer;
		padding: 5px;
	}
	input {
		opacity: 0;
	}
	&:hover {
		transition: background-color 0.4s;
	}
}

input[type='checkbox']:checked ~ img {
	background-color: $clr3;
	border-radius: 1rem;
	//
}

select {
	line-height: 1.5rem;
}

// .online-onsite {
// 	text-decoration: underline;
// 	label {
// 		border-radius: 1rem;
// 		margin-inline-end: 10px;
// 		padding: 3px;
// 		background-color: $clr1;
// 		cursor: pointer;
// 		&:hover {
// 			background-color: $clr3;
// 			transition: background-color 0.4s;
// 		}

// 	}
// }
