.explore-filter {
	background-color: $clr1;
	margin: 0 auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-weight: bold;

	//

	padding: 0.5rem;

	max-width: 95%;
	flex-direction: column;
	gap: 10px;

	text-align: center;

	border: 1px solid lightgray;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	gap: 3rem;
	align-items: center;

	box-shadow: 0 3px 5px #ccc;
	transition: box-shadow 0.4s;

	@include for-normal-layout {
		// max-width: 100%;
		// flex-direction: row;
		max-width: 90%;
		flex-direction: column;
		gap: 1.5rem;
	}
	@include for-wide-layout {
		max-width: 100%;
		flex-direction: row;
		gap: 2rem;
	}
	@include for-extra-wide-layout {
		justify-content: space-around;
	}

	select,
	input {
		// font-family: NunitoSans;
		outline: none;
		border: none;
		background-color: $clr1;
		border-bottom: 2px solid lightgray;
		max-width: 100%;
		flex: 1;

		@include for-wide-layout {
		}
	}

	.selects {
		display: flex;
		gap: 1.5rem;

		flex-direction: column;
		align-items: flex-start;

		width: 100%;
		max-width: 300px;
		padding: 1rem;
		// border-radius: 20px;
		transition: 0.3s;

		label {
			text-align: left;
			width: 90px;
			display: inline-block;

			@include for-normal-layout {
				width: unset;
				text-align: center;
			}
		}

		@include for-normal-layout {
			flex-direction: row;
			max-width: unset;
		}
		@include for-wide-layout {
			width: unset;
		}

		div {
			display: flex;
			width: 100%;

			@include for-normal-layout {
				max-width: 150px;
				flex-direction: column;
			}
		}
	}
}

.filter-btn {
	border: none;
	border-radius: 10px;
	background-color: $clr3;
	font-size: 0.8rem;
	padding: 0.5rem;
	color: $clr2;
	letter-spacing: 2px;
	transition: 0.3s ease;

	&.clear {
		// transform: translateY(-4px);
		margin-left: 1rem;
		background-color: $clr1;
		border: 1px solid $clr6;
		color: black;

		&:hover {
			color: white;
		}
	}

	&:hover {
		background-color: $clr6;
	}
}

.online-onsite {
	display: flex;
	gap: 1rem;

	.online,
	.onsite {
		display: flex;
		flex-direction: column;
		font-size: 0.8rem;
		padding: 3px;
		transition: 0.3s;
		&:hover {
			color: $clr3;
		}
		:active {
			transition: background-color 0.4s;
		}
		label {
			display: inline-block;
		}
		img {
			height: 1.5rem;
			width: unset;
			cursor: pointer;
		}
		input {
			opacity: 0;
			display: none;
		}
	}
}

input[type='checkbox']:checked ~ img {
	background-color: $clr3;
	border-radius: 1rem;
	//
}

// .search {
// 	display: flex;
// 	// max-width: 350px;
// 	input {
// 		width: 100%;
// 	}
// }

.el-select-dropdown__item {
	color: black;
}

.el-input__inner:focus,
.el-select .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner {
	border-color: $clr3;
}

.el-select-dropdown__item.selected {
	color: $clr3;
}

.el-input__inner,
.el-input__inner::placeholder {
	color: black;
	font-size: 1.2rem;
}

.el-input__inner {
	border-radius: unset;
	font-size: 1.2rem;
}
