* {
  box-sizing: border-box;
}

.explore-filter {
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: whitesmoke;
  width: 60%;
}
