.login-page-cont {
	background-color: $clr2;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	min-height: 95vh;
	padding-top: 50px;
	margin-top: unset;

	button {
		background-color: $clr1;
		border-radius: 10px;
		border: 1px solid gray;
		transition: background-color 0.3s;
		font-weight: bold;
		&:hover {
			background-color: $clr3;
			transition: background-color 0.5s;
		}
	}
}

.login-signup-area {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	button {
		border-radius: 10px;
		margin-bottom: 20px;
	}
}

.login {
	background-color: $clr1;
	padding: 30px;

	font-family: Halant;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	border: 2px solid lightgray;
	border-radius: 10px;
	box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.1),
		0px 6px 0px 4px rgba(0, 0, 0, 0.1), -1px 12px 27px -11px #000000;
	transition: box-shadow 0.3s;

	> *:not(:last-child) {
		margin-bottom: 10px;
	}
	&:hover {
		box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.1),
			0px 6px 0px 4px rgba(0, 0, 0, 0.1), -1px 15px 30px -9px #000000;
		transition: box-shadow 0.3s;
	}
	h2 {
		text-align: center;
		text-decoration: underline;
	}
	button {
		margin-top: 10px;
		width: 40%;
	}
	input {
		// border: 1px solid lightgray;
		// border-radius: 10px;
		border: none;
		border-bottom: 1px solid lightgray;
		background-color: $clr1;
	}
	label {
		// text-decoration: underline;
		font-weight: 600;
	}
}
